<div class="post cate<#article/category/id#> auth<#article/author/id#>">
	<div class="post">
	<h2><a href="<#article/url#>"><#article/title#></a></h2>
		<div class="info">
			<span class="date"><#article/posttime/monthname#> <#article/posttime/day#>, <#article/posttime/year#>  Views <span id="spn<#article/id#>"></span>
                <script language="JavaScript" type="text/javascript">strBatchView+="spn<#article/id#>=<#article/id#>,"</script></span>
			<div class="act">
			<span class="comments"><span>Comments <#article/commnums#></span></span>
			<div class="fixed"></div>
			</div>
			<div class="fixed"></div>
			</div>
			<div class="content">
				<#article/intro#>
				<p class="under"></p>
			<div class="bot">
			<span class="readmore"><a href="<#article/url#>">阅读全文</a></span><span class="categories"><#article/category/name#></span><span class="tags"><#template:article_tag#></span>
			</div>
			<p class="under">
			</p>
			<div class="fixed"></div>
			
		</div>
	</div>
</div>