<!--[if IE 6]>
<div class="fullbox" id="ie6update">
	<h3><a>Suggest:</a></h3>
	<div class="fullbox_content">
		<div class="post_content">
			<p><span style="color: rgb(255, 0, 0); ">您好，欢迎您访问Arthraim.cn，您使用的浏览器为版本较旧的Internet Explorer 6。<br />
			从标题LOGO以及其他可能出现的差异来看，IE6对于网站的支持已经无法满足Internet日新月异的变化了。</br>
			为了使您得到更快、更完整的体验，推荐您使用其他的浏览器，请根据需求选择下方合适的浏览器。</span></p>
				<a href="http://www.google.com/chrome" target="_blank"><img width="80" height="80" title="Google Chrome" alt="" src="http://arthraim.cn/upload/Browsers_1.png" /></a>
				<a href="http://www.mozillaonline.com/" target="_blank"><img width="80" height="80" title="Firefox" alt="" src="http://arthraim.cn/upload/Browsers_2.png" /></a>
				<a href="http://www.microsoft.com/china/windows/default.aspx" target="_blank"><img width="80" height="80" title="Internet Explorer 8" alt="" src="http://arthraim.cn/upload/Browsers_3.png" /></a>
				<a href="http://www.maxthon.cn/" target="_blank"><img width="80" height="80" title="Maxthon 2" alt="" src="http://arthraim.cn/upload/Browsers_4.png" /></a>
				<a href="http://www.opera.com/" target="_blank"><img width="80" height="80" title="Opera 9" alt="" src="http://arthraim.cn/upload/Browsers_5.png" /></a>
				<a href="http://www.apple.com.cn/Safari/" target="_blank"><img width="80" height="80" title="Safari 4" alt="" src="http://arthraim.cn/upload/Browsers_6.png" /></a>
			</p>
		</div>
	</div>
	<div class="fullbox_footer"></div>
</div>
<![endif]-->
<div class="fullbox" id="post cate<#article/category/id#> auth<#article/author/id#>">
	<div class="fullbox_header"></div>
	<div class="fullbox_content">
    	<div class="breadcrumb">
            <div style="float:left"><#template:article_navbar_l#></div>
            <div style="float:right"><#template:article_navbar_r#></div>
        </div>
    	<div class="breadcrumb"></div>
		<h1><a href="<#article/url#>"><#article/title#></a></h1>
		<div class="post_info">
			<div class="post_info_left">
				<#article/posttime/monthname#> <#article/posttime/day#>, <#article/posttime/year#>
				 | CATE: 
				<a href="<#article/category/url#>"><#article/category/name#></a>
				 | TAGS: <#template:article_tag#>
			</div>
			<div class="post_info_right">
				views <span id="spn<#article/id#>"></span>
				<script language="JavaScript" type="text/javascript">strBatchCount+="spn<#article/id#>=<#article/id#>,"</script>
			</div>
		</div>
		<div class="post_content">
			<#article/content#>
		</div>
		<div class="post_tags">
			<p>
				任何形式的转载，请注明本文由<#article/author/name#>发表于<a href="http://arthraim.cn/">Arthraim.cn</a><br />
				原文地址: <a href="<#article/url#>"><#article/url#></a><br />
				引用通告: <a href="<#article/trackback_url#>"><#article/trackback_url#></a>
			</p>
		</div>
    </div>
	<div class="fullbox_footer"></div>
</div>

<div class="fullbox" id="article_mutuality">
    <h3><a>mutuality posts:</a></h3>
    <div class="fullbox_content">
        <div class="post_content">
            <ul>
                <#template:article_mutuality#>
            </ul>
        </div>
    </div>
    <div class="fullbox_footer"></div>
</div>

<div class="fullbox" id="article_review">
    <h3><a>Reviews:</a></h3>
    <div class="fullbox_content">
        <!-- Include the Google Friend Connect javascript library. -->
        <script type="text/javascript" src="http://www.google.com/friendconnect/script/friendconnect.js"></script>
        <!-- Define the div tag where the gadget will be inserted. -->
        <div id="div-6146721891226787544" style="width:600px;border:1px solid #cccccc;"></div>
        <!-- Render the gadget into a div. -->
        <script type="text/javascript">
        var skin = {};
        skin['BORDER_COLOR'] = '#cccccc';
        skin['ENDCAP_BG_COLOR'] = '#ffffff';
        skin['ENDCAP_TEXT_COLOR'] = '#333333';
        skin['ENDCAP_LINK_COLOR'] = '#2970a6';
        skin['ALTERNATE_BG_COLOR'] = '#ffffff';
        skin['CONTENT_BG_COLOR'] = '#ffffff';
        skin['CONTENT_LINK_COLOR'] = '#2970a6';
        skin['CONTENT_TEXT_COLOR'] = '#333333';
        skin['CONTENT_SECONDARY_LINK_COLOR'] = '#2970a6';
        skin['CONTENT_SECONDARY_TEXT_COLOR'] = '#666666';
        skin['CONTENT_HEADLINE_COLOR'] = '#333333';
        skin['DEFAULT_COMMENT_TEXT'] = '- add your review here -';
        skin['HEADER_TEXT'] = 'Ratings';
        skin['POSTS_PER_PAGE'] = '10';
        google.friendconnect.container.setParentUrl('/' /* location of rpc_relay.html and canvas.html */);
        google.friendconnect.container.renderReviewGadget(
         { id: 'div-6146721891226787544',
           site: '17893568565996065947',
           'view-params':{"disableMinMax":"false","scope":"PAGE","startMaximized":"true"}
         },
          skin);
        </script>
    </div>
    <div class="fullbox_footer"></div>
</div>

<div class="fullbox" id="article_trackback">
    <h3><a>trackbacks:</a></h3>
    <div class="fullbox_content">
        <div class="post_content">
        	<ul>
		        <#template:article_trackback#>
            </ul>
        </div>
    </div>
    <div class="fullbox_footer"></div>
</div>
